{% load static %}
{% include "head.html" %}

<div class="ui sidebar inverted vertical menu">
    <a class="item" href="test2.html">
        <img class="ui avatar image" src="{% static 'images/icons/imac.svg' %}">
    &#8195;&#8194;监控面板
    </a>
    <a class="item">
        <img class="ui avatar image" src="{% static 'images/icons/clipboard.svg' %}">
      &#8195;&#8194;问题管理
    </a>
    <div class="item">
        <img class="ui avatar image" src="{% static 'images/icons/goal.svg' %}">
          &#8195;&#8194;我的任务
        <div class="menu">
              <a class="item">&#8195;&#8195;&#8195;&#8195;&#8195;待处理的任务</a>
              <a class="item">&#8195;&#8195;&#8195;&#8195;&#8195;已处理的任务</a>
        </div>
    </div>
</div>
<div class="ui main container">
  <div class="column">
      <div class="ui grid">
          <div class="four wide column left floated">
            <div class="pusher">
                <div class="ui container">
                <div id = "toggle" class="ui labeled icon button">
                <i class = "sidebar icon"></i>
                Menu
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column right floated">
            <h2 class="ui header">
              <div class="column"><i class="book icon"></i>术语定义</div>
            </h2>
          </div>
      </div>
      <table id="event" class="ui striped table">
        <thead>
          <tr>
            <th>术语</th>
            <th>适用机型</th>
            <th>术语说明</th>
          </tr>
        </thead>            
        <tbody>
          {% for terms in terms_list %}
          <tr>
            <td><a class="text-dark" href="{% url 'blog:terms_detail' terms.id %}">{{terms.title}}</a></td>
            <td>{{terms.acmodels}}</td>
            <td>{{terms.content | striptags |truncatewords:20}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>    
      <button id="addRow" class = "ui button">添加行</button>
      <button id="delRow" class = "ui button">删除选中的行</button>
  </div>
</div>

{% include "foot.html" %}
<!--以下是本页适用的脚本-->
<script type="text/javascript">
  $(document).ready(function() {
    $('#event').DataTable(
      {
        "language":{
          "sSearch": "搜索",
        }
      }
    );
    });

  $('#toggle').click(function(){
      $('.ui.sidebar').sidebar('toggle');
  });
</script>

  <!-- 脚本部分用来处理表格样式等内容, 整个datatables用两个部分来控制, table部分控制数据和交互, script部分控制展试, 分页和搜索等功能-->

